workflows/myeventhublistenerworkflow/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Create_or_update_item": {
                "inputs": {
                    "parameters": {
                        "containerId": "@appsetting('cosmosdb_containerId')",
                        "databaseId": "@appsetting('cosmosdb_databaseId')",
                        "isUpsert": true,
                        "item": "@body('Parse_JSON')"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "AzureCosmosDB",
                        "operationId": "CreateOrUpdateDocument",
                        "serviceProviderId": "/serviceProviders/AzureCosmosDB"
                    }
                },
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "ServiceProvider"
            },
            "Initialize_variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "item",
                            "type": "object",
                            "value": {
                                "id": "@{workflow()['run']['name']}",
                                "message": "@{triggerOutputs()?['body']}"
                            }
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "Parse_JSON": {
                "inputs": {
                    "content": "@variables('item')",
                    "schema": {
                        "properties": {
                            "id": {
                                "type": "string"
                            },
                            "message": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "Initialize_variable": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_events_are_available_in_Event_hub": {
                "inputs": {
                    "parameters": {
                        "consumerGroup": "$Default",
                        "eventHubName": "@appsetting('eventHub_name')"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "eventHub",
                        "operationId": "receiveEvents",
                        "serviceProviderId": "/serviceProviders/eventHub"
                    }
                },
                "splitOn": "@triggerOutputs()?['body']",
                "type": "ServiceProvider"
            }
        }
    },
    "kind": "Stateful"
}